# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        java: [21]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@v2
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: microsoft
    - name: Grant execute permission for Gradle wrapper
      run: chmod +x gradlew
    - name: Test with Gradle
      run: ./gradlew test
